.header {
    padding: 25px 0;

    // Logo
    .logo {
        font-size: 40px;
        color: $grey;
        text-decoration: none;

        span {
            font-weight: 700;
            color: $blue;
        }
    }
    // Logo

    // Nav
    .nav {
        ul {
            list-style: none;
            text-align: right;
            width: 100%;
            li {
                display: inline-block;
                margin: 0 15px;

                a {
                    color: $dark;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
    // Nav
}